
@{
    ViewBag.Title = "Index";
}

<h2>Management</h2>

<div class="col-12">
    <div class="row">
        <div class="col-md-4"><a href="#" id="makePaymentbtn" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-usd"></span> Payments</a></div>
        <div class="col-md-4"><a href="#" id="statisticsbtn" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-file"></span> Statistics</a></div>
        <div class="col-md-4"><a href="#" id="updateTablesbtn" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-th"></span> Cafe Tables</a></div>
    </div>
</div>
