
@{
    ViewBag.Title = "Index";
}

<style>
    .main-page-logo {
        background-image: url(../Images/CW_Logo3.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 100%;
        height: 300px;
        display: inline-block;
    }
</style>

<div class="main-page-logo"></div>