USE [CuddlyWombat]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 24/05/2018 9:10:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([TableID], [Capacity], [IsAvailable]) VALUES (1, 4, 1)
INSERT [dbo].[Table] ([TableID], [Capacity], [IsAvailable]) VALUES (2, 4, 1)
INSERT [dbo].[Table] ([TableID], [Capacity], [IsAvailable]) VALUES (3, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[Table] OFF
